In [1]:
import pandas as pd
import re

In [2]:
file_name = "Deliberation_2024_2025_L3_S5"
df = pd.read_csv(f"../data/{file_name}.csv")
df.head()

,Name,Code,Compilation,Système d'exploitation 2,Moyenne UE 1,Crédit UE 1,Génie Logiciel 2,Interface Machine Homme,Moyenne UE 2,Crédit UE 2,Probabilités et Statistiques,Programmation Linéaire,Moyenne UE 3,Crédit UE 3,Economie et veille numérique stratégique,Moyenne UE 4,Crédit UE 4,Crédits du Semestre,Moyenne du Semestre
0,1 - ABUSULTAN Jehad osama samir,21218PSE10483,12.6,10.0,11.30,10,11.40,10.20,10.80,10,7.05,9.00,8.03,0,16.50,16.50,2,30,10.66
1,2 - AHMED MALEK ABD ERAOUF,202036021442,4.4,7.0,5.70,0,11.65,11.55,11.60,10,9.35,9.65,9.50,0,16.50,16.50,2,12,9.31
2,3 - ALI RACHEDI Tahar feras,202036017790,0.0,0.6,0.30,0,3.30,10.15,6.73,5,0.30,3.60,1.95,0,14.25,14.25,2,7,3.78
3,4 - ALITATAR OMAR,222236135601,10.7,9.8,10.25,10,12.35,14.75,13.55,10,6.75,11.95,9.35,4,19.00,19.00,2,30,11.72
4,5 - ALKEMI ASMA MAHA,222236124519,9.5,4.6,7.05,0,11.45,13.05,12.25,10,6.50,9.90,8.20,0,13.00,13.00,2,12,9.51

In [3]:
# cutting the name
def extract_name(text):
    if text:
        text = re.sub(r'^\d+\s*-\s*', '', text.strip())
    return text

df["Name"] = df["Name"].apply(extract_name)

df.head()

,Name,Code,Compilation,Système d'exploitation 2,Moyenne UE 1,Crédit UE 1,Génie Logiciel 2,Interface Machine Homme,Moyenne UE 2,Crédit UE 2,Probabilités et Statistiques,Programmation Linéaire,Moyenne UE 3,Crédit UE 3,Economie et veille numérique stratégique,Moyenne UE 4,Crédit UE 4,Crédits du Semestre,Moyenne du Semestre
0,ABUSULTAN Jehad osama samir,21218PSE10483,12.6,10.0,11.30,10,11.40,10.20,10.80,10,7.05,9.00,8.03,0,16.50,16.50,2,30,10.66
1,AHMED MALEK ABD ERAOUF,202036021442,4.4,7.0,5.70,0,11.65,11.55,11.60,10,9.35,9.65,9.50,0,16.50,16.50,2,12,9.31
2,ALI RACHEDI Tahar feras,202036017790,0.0,0.6,0.30,0,3.30,10.15,6.73,5,0.30,3.60,1.95,0,14.25,14.25,2,7,3.78
3,ALITATAR OMAR,222236135601,10.7,9.8,10.25,10,12.35,14.75,13.55,10,6.75,11.95,9.35,4,19.00,19.00,2,30,11.72
4,ALKEMI ASMA MAHA,222236124519,9.5,4.6,7.05,0,11.45,13.05,12.25,10,6.50,9.90,8.20,0,13.00,13.00,2,12,9.51

In [4]:
df.to_csv(f"../data/{file_name}_postprocess.csv", index=False)